/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body.homepage {
 background-color: #63D0F8;
}

.wl {
	/*margin-top: 80px;
	margin-left: 50px;
	margin-right: 100px;*/
	max-width: 300px;
  	max-height: 200px;
}

.table {
	background: #CACAD0;
}

.product-container{
	margin-top: 100px;
	border: solid;
	max-width: 25%;
	background: #CACAD0;
}

.panel-default{
	margin-top: 80px;
	max-width: 75%
}