/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.table {
	background: #CACAD0;
}

.product-container{
	margin-top: 100px;
	border: solid;
	max-width: 25%;
}